.container1 {
    background-color: rgb(68, 70, 173);
    height: vh30;
    padding: 2rem;
    color: aliceblue;
}
.container_context,
.container_text {
    margin-left: 10rem;
}
.container_text {
    border: 2px solid white;
    background-color: aliceblue;
    color: blue;
    width: 10rem;
    margin-top: 1rem;
    /* box-shadow: 0.5px 0.5px 0.5 0.5px red; */

    font-size: 1.5rem;

    cursor: pointer;

    border: 3px solid white;
    transition: all 1s ease;
}
.container_heading_footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(29, 28, 28);
    color: white;
}
.container_heading {
    background-color: rgb(29, 28, 28);
    color: white;
    height: 30vh;
}
.container_heading h1 {
    color: white;
    margin-left: 6rem;
}
.container_heading h5 {
    color: rgb(84, 114, 84);
    margin-left: 4rem;
    padding: 3rem;
}
.container_heading_input {
    margin-left: 6rem;
}
.icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}